---
font: BenchNine
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>11ty Logo</title>
		<link href="https://fonts.googleapis.com/css?family={{ font | urlencode }}" rel="stylesheet">
		<link rel="stylesheet" href="logo.css">
		<style>
		/* Logo */
		.logo span {
			float: left;
		}
		.logo span:first-child {
			letter-spacing: 0;
			margin-right: 1px;
		}
		.logo span:first-child + span {
			margin-left: 0;
			letter-spacing: -2.5px;
		}
		</style>
	</head>
	<body>
		<h1>11ty Logo</h1>
		<p><a href="variations/">See all variations.</a></p>
		<h2 class="logo variation dark" style="font-family: BenchNine;"><span>11</span><span>ty</span></h2>
	</body>
</html>