.variation {
	display: inline-block;
	font-size: 7em; /* 112px */
	padding: 0.2321428571429em 0.1071428571429em; /* 26px 12px /112 */
	margin: 0 .15em .5em;
	color: #222;
	cursor: pointer;
}
.dark {
	background-color: #222;
	color: #fff;
	border: 6px solid transparent;
}
.highlight {
	outline: 6px solid red;
}
.group {
	border-bottom: 1px solid #bbb;
	padding: 1em 0;
	margin-bottom: 2em;
}